body{
  background: #e6e6e6;
  margin: 0;
  font-size: 1em;
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
}

/* LAYOUT */

#header{
  background: #f7b600;
  padding: 15px;
  text-align: center;
}

#principal{
  width: 920px;
  margin: 0 auto;
  padding: 15px;
}

/* Formatação Menu */

#header a:link, #header a:visited{
  color: #FFF;
  padding: 8px 12px;
}

#header a:hover{
  background: #FFF;
  color: #f7b600;
  text-decoration: none;
}


/* Formatação Links */

a{
  text-decoration: none;
}

a:link, a:visited{
  color: #f7b600;
}

a:hover{
  text-decoration: underline;
}

/* Formatação Principal */

.postagens{
  width: 660px;
  float: left;
}

.postagem{
  padding: 20px;
  margin-bottom: 20px;
  background: #FFF;
}

.lateral{
  width: 240px;
  float: right;
}

.conteudo-lateral{
  background: #FFF;
  padding: 10px;
  margin-bottom: 20px;
}

/* Formatações gerais */

h1{
  color: #4e4e4e;
  font-size: 2.5em;
}

h2{
  color: #f7b600;
  margin-bottom: 0;
}

h3{
  background: #CCC;
  color: #565656;
  padding: 5px;
}


.branco{
  color: #FFF;
}

.data{
  font-size: 0.7em;
}

.texto-lateral{
  font-size: 0.8em;
}

.link-lateral{
  font-size: 0.8em;
}

/* Footer */

footer{
  clear: both;
  text-align: center;
  padding: 15px;
}
